<a href="https://colab.research.google.com/github/anjithsm/DataScience/blob/main/Assignment_on_Python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Python Practise Problems***

**1.Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3  
Sample output: Area of Circle is 28.59999999999**

In [ ]:
a=float(input("Enter the radius:"))
area=3.14*a**2
print("Area of Circle is",area)

Enter the radius:3
Area of Circle is 28.26

**2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input:  
Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:  Name: Anisha
Roll No: 21
Mark: 78**

In [ ]:
name=input("Enter the Nmae:")
roll_number=input("Enter the roll number:")
mark=input("Enter the marks:")

print("Name: ", name)
print("Roll No: ",roll_number)
print("Mark: ", mark)

Enter the Nmae:Anisha
Enter the roll number:21
Enter the marks:78
Name:  Anisha
Roll No:  21
Mark:  78

**3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.**

In [ ]:
def find_largest_number(numbers):
    largest = numbers[0]
    for number in numbers:
        if number > largest:
            largest = number
    return largest
numbers = [12, 3, 47, 10]

largest_number = find_largest_number(numbers)


print(largest_number,"is the largest number")

47 is the largest number

**4.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.  
Sample input: 1….10  
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19**

In [ ]:
previous_number = 0

for current_number in range(1, 11):
    sum_numbers = current_number + previous_number

    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {sum_numbers}")

    previous_number = current_number

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

**5.Write a Python program to print only those numbers which are divisible
of 5.  
Sample input: 10, 20,33,46,55    Sample output: 10, 20, 55**

In [ ]:
numbers_string = input("Enter numbers separated by commas: ")
current_number = ""
index = 0
while index < len(numbers_string):
    char = numbers_string[index]
    if char == ',':
        number = float(current_number)
        if number % 5 == 0:
            print(int(number), end=", ")
        current_number = ""
    else:
        current_number += char
    index += 1

if current_number:
    number = float(current_number)
    if number % 5 == 0:
        print(int(number))

Enter numbers separated by commas: 10,20,33,46,55
10, 20, 55

**6.Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3  
Sample output: 3 is a prime number.**

In [ ]:
number = int(input("Enter the number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print((number), "is not a prime number.")
            break
    else:
        print((number)," is a prime number.")
else:
    print((number),"is not a prime number.")

Enter the number: 3
3  is a prime number.

**7. Write a Python program to reverse a list using for loop.  
Sample input: 10,40,30,70  
Sample output: 70,30,40,10**

In [ ]:
numbers_string = input("Enter numbers separated by commas: ")
numbers = []
current_number = ""
index = 0

while index < len(numbers_string):
    char = numbers_string[index]
    if char == ',':
        numbers.append(int(current_number))
        current_number = ""
    else:
        current_number += char
    index += 1

if current_number:
    numbers.append(int(current_number))

reversed_numbers = []

for i in range(len(numbers) - 1, -1, -1):
    reversed_numbers.append(numbers[i])

print("Reversed list:", ", ".join(map(str, reversed_numbers)))

Enter numbers separated by commas: 45,55,69,
Reversed list: 69, 55, 45

**8.Write a Python program to print the following pattern.**
*
**
***
****

In [ ]:
rows = 4

for i in range(1, rows + 1):
    print('*' * i)

*
**
***
****

**9.Write a Python program to find the maximum of three numbers  
Sample input: 34,12,7  
Sample output: 34**

In [ ]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

if (a>= b) and (a >= c):
    largest = a
elif (b >= a) and (b >= c):
    largest = b
else:
    largest = c

print("The largest number is :",(largest))

Enter the first number: 45
Enter the second number: 88
Enter the third number: 96
The largest number is : 96.0

**10.  Write a Python program to construct the following pattern, using a
nested for loop.**
*
***
****
*****
****
***
**
*

In [ ]:
rows = 5

for i in range(1, rows + 1):
    print('*' * i)
for i in range(rows - 1, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*

# ***Practise Problems 2***

**1.Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1**

In [ ]:
def count_characters(string):
    char_count = {}
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    output = ', '.join([f"{char}={count}" for char, count in char_count.items()])
    return output

user_input = input("Enter a string value: ")
print(count_characters(user_input))

Enter a string value: assembly
a=1, s=2, e=1, m=1, b=1, l=1, y=1

**2.Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34**

In [ ]:
def find_max_of_three(a,b,c):
    if a>= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

In [ ]:
a, b, c = 34, 12, 7
print(find_max_of_three(a, b, c))

34

**3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8**

In [ ]:
def exponent(base, exp):
    result = 1
    for char in range(exp):
        result *= base
    return result

In [ ]:
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
print(exponent(base, exp))

Enter the base: 2
Enter the exponent: 2
4

**4.Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.**

In [ ]:
def sum(a):
    total = 0
    for i in range(1, a):
        total += i ** 3
    return total

In [ ]:
integer = 5
print(sum(integer))

100

**5.Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz**

In [ ]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz", end=" ")
    elif i % 2 == 0:
        print("Fizz", end=" ")
    elif i % 5 == 0:
        print("Buzz", end=" ")
    else:
        print(i, end=" ")

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

**6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2**

In [ ]:
def most_frequent(numbers):
    frequency = {}
    max_count = -1
    most_frequent_num = None

    for num in numbers:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1

        if frequency[num] > max_count:
            max_count = frequency[num]
            most_frequent_num = num

    return most_frequent_num

In [ ]:
numbers = [2, 3, 4, 2, 5, 2]
print(most_frequent(numbers))

2

**7.Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15**

In [ ]:
def sum_of_squares(a):
    total = 0
    for a in numbers:
        total += a ** 2
    return total

In [ ]:
[2,1,3,1]
print(sum_of_squares(a))

15

**8.Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd**

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even", end=" ")
    else:
        print(f"{i}-odd", end=" ")

1-odd 2-even 3-odd 4-even 5-odd 6-even 7-odd 8-even 9-odd 10-even 11-odd 12-even 13-odd 14-even 15-odd

**9.Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5**

In [ ]:
def fahrenheit_to_celsius(f):
    return (f - 32) * 5 / 9

def celsius_to_fahrenheit(c):
    return (c * 9 / 5) + 32

fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
celsius = fahrenheit_to_celsius(fahrenheit)
print(f"Temperature in Celsius = {celsius:.2f}")

celsius = float(input("Enter the temperature in Celsius: "))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f"Temperature in Fahrenheit = {fahrenheit:.2f}")

Enter the temperature in Fahrenheit: 55
Temperature in Celsius = 12.78
Enter the temperature in Celsius: 65
Temperature in Fahrenheit = 149.00

**10.Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6**

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

In [ ]:
number = 3
print(factorial(number))

6