<a href="https://colab.research.google.com/github/anjithsm/DataScience/blob/main/Pandas_Tasks_adult_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

read the data

In [4]:
df = pd.read_csv('/content/adult_pandas_assignment.csv')
print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

Display the first 5 rows of the dataset.

In [7]:
print(df.head(5))

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

summary of the DataFrame

In [10]:
summary = df.describe(include = 'all')
print(summary)

                 age workclass        fnlwgt education  educational-num  \
count   48842.000000     48842  4.884200e+04     48842     48842.000000
unique           NaN         9           NaN        16              NaN
top              NaN   Private           NaN   HS-grad              NaN
freq             NaN     33906           NaN     15784              NaN
mean       38.643585       NaN  1.896641e+05       NaN        10.078089
std        13.710510       NaN  1.056040e+05       NaN         2.570973
min        17.000000       NaN  1.228500e+04       NaN         1.000000
25%        28.000000       NaN  1.175505e+05       NaN         9.000000
50%        37.000000       NaN  1.781445e+05       NaN        10.000000
75%        48.000000       NaN  2.376420e+05       NaN        12.000000
max        90.000000       NaN  1.490400e+06       NaN        16.000000

            marital-status      occupation relationship   race gender  \
count                48842           48842        48842  48842  48842
unique                   7              15            6      5      2
top     Married-civ-spouse  Prof-specialty      Husband  White   Male
freq                 22379            6172        19716  41762  32650
mean                   NaN             NaN          NaN    NaN    NaN
std                    NaN             NaN          NaN    NaN    NaN
min                    NaN             NaN          NaN    NaN    NaN
25%                    NaN             NaN          NaN    NaN    NaN
50%                    NaN             NaN          NaN    NaN    NaN
75%                    NaN             NaN          NaN    NaN    NaN
max                    NaN             NaN          NaN    NaN    NaN

        capital-gain  capital-loss  hours-per-week native-country income
count   48842.000000  48842.000000    48842.000000          48842  48842
unique           NaN           NaN             NaN             42      2
top              NaN           NaN             NaN  United-States  <=50K
freq             NaN           NaN             NaN          43832  37155
mean     1079.067626     87.502314       40.422382            NaN    NaN
std      7452.019058    403.004552       12.391444            NaN    NaN
min         0.000000      0.000000        1.000000            NaN    NaN
25%         0.000000      0.000000       40.000000            NaN    NaN
50%         0.000000      0.000000       40.000000            NaN    NaN
75%         0.000000      0.000000       45.000000            NaN    NaN
max     99999.000000   4356.000000       99.000000            NaN    NaN

descriptive statistics for numeric columns

In [16]:
summary = df.describe()
print(summary)

                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

Display the column names of the DataFrame.

In [15]:
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

unique values in the 'workclass' column.

In [18]:
unique_values = df['capital-gain'].unique
print(unique_values)

<bound method Series.unique of 0            0
1            0
2            0
3         7688
4            0
         ...
48837        0
48838        0
48839        0
48840        0
48841    15024
Name: capital-gain, Length: 48842, dtype: int64>

Create a new column 'income_binary' where <=50K is 0 and >50K is 1.

In [25]:
def categorized_income(income):
  if income == '<=50K':
    return 0
  else:
    return 1

df['income_binary'] = df['income'].apply(categorized_income)

print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income  income_binary
0              40  United-States  <=50K              0
1              50  United-States  <=50K              0
2              40  United-States   >50K              1
3              40  United-States   >50K              1
4              30  United-States  <=50K              0

Create a new column 'age_group' categorizing ages into 'Youth' (< 30), 'Adult' (30-60), and 'Senior' (60+).

In [33]:
def categorized_age(age):
  if age < 30:
    return 'Youth'
  elif age > 30 and age < 60:
    return 'Adult'
  else:
    return 'Senior'

df['age_group'] = df['age'].apply(categorized_age)

print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income  income_binary age_group
0              40  United-States  <=50K              0     Youth
1              50  United-States  <=50K              0     Adult
2              40  United-States   >50K              1     Youth
3              40  United-States   >50K              1     Adult
4              30  United-States  <=50K              0     Youth

Rename the 'educational-num' column to 'education_num'.

In [35]:
df.rename(columns = {'educational-num': 'educational_num'}, inplace = True)
print(df.head())

   age  workclass  fnlwgt     education  educational_num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income  income_binary age_group
0              40  United-States  <=50K              0     Youth
1              50  United-States  <=50K              0     Adult
2              40  United-States   >50K              1     Youth
3              40  United-States   >50K              1     Adult
4              30  United-States  <=50K              0     Youth

Replace the missing values represented by '?' in 'workclass' and 'occupation' columns with 'Unknown'.

In [37]:
df['workclass'] = df['workclass'].replace('?', 'unknown')
df['occupation'] = df['Unknown'].replace('?', 'Unknown')

print(df.head())

KeyError: 'Unknown'

Calculate the average age for each workclass.

Find the total capital-gain for each gender.

Get the count of each marital-status category.

Find the mean hours-per-week worked by individuals in different education levels.

Calculate the mean, median, and standard deviation of 'fnlwgt' for each race.

Get the unique values and their counts for the 'native-country' column

Filter the dataset to include only individuals with income >50K.

Sort the dataset by age in descending order.

Filter the dataset to include only individuals who work more than 40 hours per week.

In [ ]:
Calculate the percentage of missing values in each column.

Calculate the median income by education level and gender.

Find the top 3 occupations with the highest average capital-gain.

Filter the dataset to include individuals who are 'Married-civ-spouse' and have an income >50K.